<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.system.user.menwain">
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.OrderHistoryActivity"></activity>
        <activity android:name=".activities.AddressesActivity" />
        <activity android:name=".activities.RateUsActivity" />
        <activity android:name=".activities.ItemReviewActivity" />
        <activity android:name=".activities.OrderDetailsActivity" />
        <activity android:name=".activities.ListDetailsActivity" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.ItemsListActivity" />
        <activity android:name=".activities.DeliveryAddressActivity" />
        <activity android:name=".activities.ItemDetailsActivity" />
        <activity android:name=".activities.ScanActivity"/>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.ForgetPasswordActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.ItemsAvailabilityStoresActivity" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>